<div class="global" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1636955816868-fcb881e57954?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);">
  <div class="edit-cointainer-edit mx-5 py-1">
      <h1 class= "titleedit"><%= image_tag "updategroup.png" %> Update Group </h1>
        <div id="formedit">
            <%= simple_form_for @group do |f| %>
              <%= f.input :title %>
              <%= f.input :contact_ids, collection: @connections, label_method: :full_name, input_html: { multiple: true, data: { controller: "tom-select" } }  %>
              <div class= "d-flex justify-content-center gap-3">
              <%= f.button :submit, class: "btn btn-primary my-4" %>
            <% end %>
        </div>
  </div>
</div>

<%= link_to "Delete",
    group_path(@group),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
