<div>
  <div class="groups">
    <div class="groupone">
      <div class="accordion" id="accordionExample">
        <h4 class="bg-light p-4 my-2 border-top border-bottom d-flex justify-content-center fw-bold">My Groups</h4>

          <% @groups.each do |group| %>
            <div class="accordion-item">
              <h6 class="accordion-header bg-light p-2 border-top border-bottom">
                <div class="accordion collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <div class="groupindividual d-flex justify-content-between">
                    <%= group.title %>
                      <div><a href="<%= edit_group_path(group) %>"> <i class="fa-regular fa-pen-to-square"></i></a>
                        <div><a href="<%= group_path(group) %>"><i class="fa-regular fa-comment"></i></a></div>
                      </div>
                </div>
            </h6>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                <ul class="list-group list-group-light mb-5">
                  <% group.contact_ids.each do |member| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                        <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                          style="width: 45px; height: 45px" />
                        <% user = User.find(member)  %>
                        <div class="ms-3">
                          <p class="fw-bold mb-1">
                            <%= "#{user.first_name} #{user.last_name}" %>
                          </p>
                          <p class="text-muted mb-0">
                            <%= user.email %>
                          </p>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
      </div>
    </div>

    <div class="grouptwo">
      <div class="accordion" id="accordionExample">
        <h4 class="bg-light p-4 my-2 border-top border-bottom d-flex justify-content-center fw-bold">Participating Groups</h4>
          <% @other_groups.each do |group| %>
            <div class="accordion-item">
                <h6 class="accordion-header bg-light p-2 border-top border-bottom">
                  <div class="accordion collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class="groupindividual d-flex justify-content-between">
                      <%= group.title %>
                      <div>
                        <a href="<%= group_path(group) %>"> <i class="fa-regular fa-comment"></i></a>
                      </div>
                    </div>
                  </div>
                </h6>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                  <div class="accordion-body">
                    <ul class="list-group list-group-light mb-5">
                      <% group.contact_ids.each do |member| %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                            <% user = User.find(member)  %>
                            <div class="ms-3">
                              <p class="fw-bold mb-1">
                                <%= "#{user.first_name} #{user.last_name}" %>
                              </p>
                              <p class="text-muted mb-0">
                                <%= user.email %>
                              </p>
                            </div>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
          <% end %>
      </div>
    </div>
  </div>

  <div id="chatbox">
    <div id="friendslist">
      <div id="topmenu">
          <span class="friends"></span>
      </div>

      <% @connections.each do |connection|  %>
        <div class="friend">
          <a href="<%= user_path(connection.contact) %>">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
          <p class="contactshow d-flex justify-content-between">
            <strong><%= "#{connection.contact.first_name} #{connection.contact.last_name}" %></strong>
              <p class="contactshow d-flex justify-content-between">
                <%= connection.contact.working_hour_start%> :00 | <%= connection.contact.working_hour_end%> :00
              </p>
          </p>
          <div class="status available"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
