<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1541701571234-ffe036ddf1d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1626&q=80);">
  <div class="container">
    <h2 class="description">Discover a new level of time zone management with <strong>TimezoneApp</strong>, the must-have app for anyone navigating the global landscape 🌏</h2>
    <h2 class="description">Say <strong>Goodbye</strong> to time zone confusion and <strong>Hello</strong> to effortless coordination ⏱️</h2>
  </div>
  <div class="cardlog">
      <div class="bannerlog"></div>
        <div class="personalsign justify-center">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs-log">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
          <div class="form-actions">
            <button class="contact" id="main-button-log"><%= f.button :submit, "Log in" %></button>
          </div>
          <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
